body {
 margin: 0;
 padding: 0;
 max-width: inherit;
 background: #FFF9F9;
 color: #1C1C1C
}
header{
 font-size: xx-large;
 text-align: center;
 padding: 0.3em 0;
 background-color: #F2EDED;
 color: #1C1C1C;
}
footer {
 font-size: xx-large;
 text-align: center;
 padding: 0.3em 0;
 background-color: #F2EDED;
 color: #1C1C1C;
}
body {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}
.container {
 display: flex;
 flex: 1;
}
main {
 flex: 1;
 padding: 0 20px;
 background: #D8DDDE;
}
nav {
 flex: 0 0 180px;
 padding: 0 10px;
 order: -1;
 background: #EDE6E6;
}
aside {
 flex: 0 0 130px;
 padding: 0 10px;
 background: #EDE6E6;
}
